Project3/app/src/main/res/raw/schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="animals">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="item" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="type"/>
                            <xs:element type="xs:string" name="name"/>
                            <xs:element type="xs:string" name="scientific"/>
                            <xs:element type="xs:int"    name="id"/>
                            <xs:element type="xs:string" name="habitat"/>
                            <xs:element type="xs:string" name="physical"/>
                            <xs:element type="xs:string" name="diet"/>
                            <xs:element type="xs:string" name="lifespan"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>